/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --brand: #0a7623;
  --secondary: #222d32;
  --alt: #28a745;
  --black: #202020;
  --red: #ff0000;
  --link-color: #1a73e8;
  --link-color-hover: #1a73e8;
  --black-222: #222;
  --black-444: #444;
  --black-42: #424242;
  --black-999: #999;
  --black-777: #777;
  --black-666: #666;
  --white: #fff;
  --gray-aaa: #aaa;
  --gray-ccc: #ccc;
  --gray: #ddd;
  --gray-de: #dedede;
  --gray-light: #eee;
  --gray-light-e5: #e5e5e5;
  --gray-light-f3: #f3f3f3;
  --light-text: #f5f5f5;
  --placeholder-color: #a1a7ae;
  --dark-text: #202020;
  --yellow: #ffdd72;
  --font-color: #1c2434;
  --dashboard-bg-color: #f1f5f9;
  --sidebar-menu-bg-color: var(--secondary);
  --sidebar-menu-hover-color: #2f3f46;
  --bg-font-size: 14px;
  --sidebar-sub-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  background: var(--dashboard-bg-color);
  font-family: "Inter", sans-serif;
  font-size: var(--bg-font-size);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-track {
  background: var(--black-444);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--black-666);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--black-999);
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.sidebar-wrapper {
  min-height: 100vh;
  position: fixed;
}
.sidebar-wrapper .logo-details {
  padding: 0.68rem 0;
  width: 260px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--brand);
}
.sidebar-wrapper .logo-details .logo_name {
  margin: 0 0 0 10px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar-wrapper .sidebar {
  overflow: hidden;
  width: 260px;
  transition: all 0.5s ease;
  padding: 10px 0 15px;
  overflow-y: auto;
  background: var(--sidebar-menu-bg-color);
  height: calc(100% - 56px);
  position: fixed;
}
.sidebar-wrapper .sidebar .nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-wrapper .sidebar.close .nav-links {
  overflow: visible;
}
.sidebar-wrapper .sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar-wrapper .sidebar .nav-links > li {
  position: relative;
  padding: 8px 0;
  list-style: none;
  transition: all 0.4s ease;
}
/* .sidebar .nav-links > li.active:before,
.sidebar .nav-links > li:before{
  position:absolute;
  left:0;
  top:0;
  content:'';
  width:4px;
  height:100%;
  background: var(--white);
  opacity: 0;
  transition: all 0.25s ease-in-out;
}
.sidebar .nav-links li.active:before,
.sidebar .nav-links li:hover:before{
  opacity: 1;
} */
.sidebar-wrapper .sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}
.sidebar-wrapper .sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar-wrapper .sidebar .nav-links li i {
  /* margin-right: 10px; */
  color: var(--gray-ccc);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar-wrapper .sidebar .nav-links li.active i,
.sidebar-wrapper .sidebar .nav-links li:hover i {
  color: var(--white);
}
.sidebar-wrapper .sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar-wrapper .sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar-wrapper .sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 6px 20px;
  width: 100%;
}
.sidebar-wrapper .sidebar .nav-links li a i {
  margin-right: 10px;
}
.sidebar-wrapper .sidebar .nav-links li a .link_name {
  font-size: 0.96rem;
  font-weight: 400;
  color: var(--gray-ccc);
  transition: all 0.4s ease;
  line-height: 16px;
}
.sidebar-wrapper .sidebar .nav-links li:hover {
  background: var(--sidebar-menu-hover-color);
}
.sidebar .nav-links li.active {
  background: var(--alt);
}
.sidebar .nav-links li.active a .link_name,
.sidebar .nav-links li:hover a .link_name {
  color: var(--white);
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  margin: 0;
  padding: 0px 10px 0px 60px;
  background: var(--sidebar-menu-hover-color);
  /* display: none; */
}
.sidebar .nav-links li .sub-menu li {
  color: var(--white);
  list-style: disc;
}
.sidebar .nav-links li .sub-menu a {
  color: var(--white);
  font-size: var(--sidebar-sub-size);
  padding: 8px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu li:hover,
.sidebar .nav-links li .sub-menu a:hover,
.sidebar .nav-links li .sub-menu li:focus,
.sidebar .nav-links li .sub-menu a:focus {
  color: var(--alt);
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
/* .sidebar .nav-links li .sub-menu .link_name{
  display: none;
} */
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.main-navbar-wrapper {
  position: fixed;
  top: 0;
  width: -webkit-fill-available;
  width: -moz-available;
  z-index: 100;
  background: var(--alt);
}
.main-navbar-wrapper .navbar {
  background: var(--alt);
  left: auto;
  right: auto;
  width: -webkit-fill-available;
}
.main-navbar-wrapper .navbar .navbar-nav .nav-item .nav-link {
  color: var(--white);
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 1.3rem;
  margin: 0 0.6rem;
}
.main-navbar-wrapper .navbar .sidebar-togglar {
  margin-right: 2rem;
}
.main-navbar-wrapper .navbar .sidebar-togglar a {
  color: var(--white);
  font-size: 1.43rem;
}
.main-navbar-wrapper .navbar .navbar-collapse {
  padding: 0 0.5rem;
}
.main-navbar-wrapper .navbar form {
  align-items: center;
  color: var(--white);
}
.main-navbar-wrapper .navbar form .form-control {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 0.9rem;
  line-height: 0;
}
.main-navbar-wrapper .navbar form .form-control:focus {
  box-shadow: none;
}
.main-navbar-wrapper .navbar form .form-control::placeholder {
  color: var(--white);
  font-size: 0.9rem;
}
.main-navbar-wrapper .navbar .navbar-nav .nav-item .nav-link::after {
  display: none;
}
.main-navbar-wrapper .navbar .navbar-nav .nav-item .nav-link.go-live {
  font-size: 1rem;
}
.main-navbar-wrapper .navbar .navbar-nav .nav-item .nav-link.go-live:hover {
  background: rgb(255 255 255 / 13%);
  border-radius: 4px;
}
.main-navbar-wrapper .navbar .navbar-nav .nav-item .nav-link.language-link {
  padding: 0 1rem;
  background: rgb(255 255 255 / 13%);
  border-radius: 4px;
}
.main-navbar-wrapper
  .navbar
  .navbar-nav
  .nav-item
  .nav-link.language-link:hover {
  background: var(--brand);
}
.main-navbar-wrapper .navbar .navbar-nav .nav-item .nav-link img {
  margin-right: 8px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.main-navbar-wrapper
  .navbar
  .navbar-nav
  .nav-item
  .nav-link
  .username-wrapper
  p {
  margin-bottom: -5px;
}
.main-navbar-wrapper
  .navbar
  .navbar-nav
  .nav-item
  .nav-link
  .username-wrapper
  small {
  color: var(--gray);
  font-size: 80%;
}
.main-navbar-wrapper .navbar .navbar-nav .nav-item .dropdown-menu {
  border-radius: 4px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.main-navbar-wrapper
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  .dropdown-item {
  color: var(--black-444);
  font-size: var(--bg-font-size);
}

.page-wrapper {
  overflow: hidden;
  width: 100%;
  background: var(--dashboard-bg-color);
  margin-left: 260px;
  /* position: relative;
  z-index: 1000; */
}
.page-wrapper .page-content {
  margin: 20px;
  margin-top: 75px;
  /* height: calc(100% - 150px); */
}
.page-wrapper .footer-wrapper {
  position: fixed;
  width: inherit;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20px 10px;
  padding: 10px 15px;
  background: var(--white);
  border-radius: 4px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.page-wrapper .footer-wrapper p {
  margin: 0;
}

.inner-page-wrapper {
  position: relative;
  margin-bottom: 50px;
  /* z-index: 100; */
}
.inner-page-wrapper .page-title-bar {
  margin-bottom: 20px;
}
.inner-page-wrapper .page-title-bar .page-title {
  margin-bottom: 4px;
  color: var(--font-color);
  font-weight: 600;
}
.inner-page-wrapper .page-title-bar .breadcrumb .breadcrumb-item {
  font-size: 0.8rem;
}
.inner-page-wrapper .card {
  border: none;
  border-radius: 4px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.inner-page-wrapper .card .card-body .card-title {
  color: var(--font-color);
  font-weight: 600;
}
.inner-page-wrapper .card .card-body .form-wrapper {
  margin-bottom: 15px;
}
.inner-page-wrapper .card .card-body .form-wrapper .form-label {
  margin-bottom: 3px;
}
.inner-page-wrapper .card .card-body .form-wrapper .form-control {
  font-size: 0.9rem;
  border-radius: 4px;
}
.inner-page-wrapper .card .card-body .form-wrapper .btn {
  padding: 0.375rem 1.6rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
}
.inner-page-wrapper .card .card-body .table {
  margin-bottom: 0;
}
.inner-page-wrapper .card .card-body .table thead {
  background: #e4e7ec;
}
.inner-page-wrapper .card .card-body .table p {
  margin-bottom: 0;
}
.inner-page-wrapper .card .card-body .table a {
  width: 30px;
  height: 30px;
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.inner-page-wrapper .card .card-body .table a.edit-icon {
  color: var(--link-color);
  border-color: var(--link-color);
}
.inner-page-wrapper .card .card-body .table a.edit-icon:hover {
  color: var(--white);
  background: var(--link-color-hover);
}
.inner-page-wrapper .card .card-body .table a.view-icon {
  margin: 0 6px;
  color: var(--brand);
  border-color: var(--brand);
}
.inner-page-wrapper .card .card-body .table a.view-icon:hover {
  color: var(--white);
  background: var(--brand);
}
.inner-page-wrapper .card .card-body .table a.delete-icon {
  color: var(--red);
  border-color: var(--red);
}
.inner-page-wrapper .card .card-body .table a.delete-icon:hover {
  color: var(--white);
  background: var(--red);
}
.inner-page-wrapper .card .card-body .shorting-wrapper {
  margin-bottom: 20px;
}
.inner-page-wrapper .card .card-body .shorting-wrapper .table-search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.inner-page-wrapper .card .card-body .shorting-wrapper .table-search-wrapper i {
  position: absolute;
  left: 10px;
  color: var(--placeholder-color);
}
.inner-page-wrapper
  .card
  .card-body
  .shorting-wrapper
  .table-search-wrapper
  .form-control {
  padding-left: 30px;
}
.inner-page-wrapper .card .card-body .pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0 10px;
}
.inner-page-wrapper .card .card-body .pagination-wrapper .page-range-wrapper {
  margin-right: 20px;
}
.inner-page-wrapper .card .card-body .pagination-wrapper .pagination {
  margin: 0;
}
.inner-page-wrapper .card .card-body .pagination-wrapper .pagination li {
  margin: 0 5px;
}
.inner-page-wrapper .card .card-body .pagination-wrapper .pagination li a {
  color: #667085;
  border-radius: 8px;
}
.inner-page-wrapper
  .card
  .card-body
  .pagination-wrapper
  .pagination
  li
  a.active {
  color: var(--white);
}
/* .modal-backdrop {
  display: none;
} */
.inner-page-wrapper .card .card-body .form-wrapper .service-link-section {
  background-color: #f7f7f7;
  padding: 10px;
}
.inner-page-wrapper .card .card-body .form-wrapper .service-link-section i {
  color: var(--red);
  cursor: pointer;
}
.inner-page-wrapper .card .card-body .form-wrapper .service-button {
  background: none;
  border: 1px solid transparent;
  color: var(--link-color);
  cursor: pointer;
  font-weight: 600;
  padding: 5px 15px;
}
.inner-page-wrapper .card .card-body .form-wrapper .service-button:focus {
  box-shadow: none;
}
.inner-page-wrapper .card .card-body .form-wrapper .service-button:hover {
  border-color: var(--link-color);
}

.card .card-body .menuStructure-accordion .accordion-item {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.card .card-body .menuStructure-accordion .accordion-header .accordion-button {
  padding: 0.6rem 1rem;
  color: #1c2434;
  background: #f5f5f5;
  border-color: #d0d5dd;
}

.inner-page-wrapper .card .card-body .form-wrapper.border-bottom {
  i {
    color: var(--brand);
  }
  span {
    color: var(--brand);
  }
}

.inner-page-wrapper .card .card-body ul li {
  color: var(--black-666);
}
.form-wrapper-title {
  margin-bottom: 8px;
  color: var(--black-999);
  font-size: 0.86rem;
  font-weight: 600;
}

.page-wrapper .row .card .card-body table .text-justify {
  text-align: justify;
}

.mob-sidebar-show {
  display: block !important;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .main-navbar-wrapper .navbar .navbar-collapse {
    padding: 0;
  }
  .main-navbar-wrapper .navbar .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 25px 0;
    gap: 25px;
  }
  .main-navbar-wrapper .navbar .navbar-nav .nav-item .nav-link {
    margin: 0 0 0 1rem;
    padding: 0;
  }
  .navbar-brand img {
    margin: 0 8px;
    width: 50px;
    height: auto;
  }
  .page-wrapper .page-content {
    margin-top: 115px;
    margin-bottom: 3.6rem;
  }
  .page-wrapper .page-content .menu-page-view-link {
    margin-bottom: 1.5rem;
  }
}
/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 768.98px) {
  .sidebar-wrapper {
    display: none;
    top: 79px;
    z-index: 99999;
  }
  .sidebar-wrapper .sidebar {
    height: calc(100% - 80px);
  }
  .page-wrapper {
    margin-left: 0;
  }
}
/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}
/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* For mobile devices (screens up to 768px) */
@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto; /* Enables horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }
}

/* For larger screens (laptops and desktops) */
@media (min-width: 769px) {
  .table-responsive {
    overflow-x: visible; /* Disables horizontal scrolling */
  }
}

.responsive-table {
  overflow-x: auto;
}

@media (min-width: 768px) {
  /* Disable scrolling for tablets and larger screens */
  .responsive-table {
    overflow-x: visible;
  }
}

/* Optional: Add padding or spacing for the scrollable table */
.responsive-table::-webkit-scrollbar {
  height: 8px;
}

.responsive-table::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.responsive-table::-webkit-scrollbar-thumb:hover {
  background: #555;
}
