$bg-color: #232326;
$bg-color-1: #1b1a1a;
$bg-color-2: #151515;
$title-color: #efe509;
$title-color-1: #44ff03;
$black-color: #1c2434;
$btn-color: #00b4de;
$white-color: #fff;
$link-color: #00b4de;
$text-color-gray: #a6a4a4;
$color-ccc: #cccccc;
$color-222: #222222;
$main-font-family: "kalpurush";
